/*图表*/
#main{
        /*width:500px;*/
        /*height:350px;*/
        /*margin:0 auto;*/
        width:750px;
        height:350px;
        margin:0 auto;
        /*border: 25px solid green;*/
        /*background-color: red;*/
   }

.new{
    width:650px;
    height:500px;
    margin:0 auto;
    border:2px solid #F0F1F2;
    /*background-color:red;*/
}

.rank{
    padding-top: 15px;
}

.rank a:link {
    color: #41465b;
    text-decoration:none;}
.rank a:active{
    color: darkorange;
}
.rank a:visited{
    /*color: red;*/
    text-decoration:none;
}
.rank a:hover{
    color: darkorange;
}


.tabItem a:active{
    color: darkorange;
}
.tabItem a:hover{
    color: darkorange;
}

/*指数*/
.info{
    width:750px;
    height:120px;
    float:left;
    padding-top: 5px;
}
.menu_zhishu{
    text-decoration: none;  /*去掉前面的圆点*/
    list-style: none;
    float: left;
    border: 20px solid ;
    border-color: white;
}

.menu_zhishu a:link {
color: #41465b;
text-decoration:none;}
.menu_zhishu a:active{
    color: darkorange;
}
.menu_zhishu a:visited{
    /*color: red;*/
    text-decoration:none;
}
.menu_zhishu a:hover{
    color: darkorange;
}

/*未访问：蓝色、无下划线   */
/*a:active:{color: red; } //激活：红色   */
/*a:visited {color:purple;text-decoration:none;} //已访问：紫色、无下划线   */
/*a:hover {color: red; text-decoration:underline;} //鼠标移近：红色、下划线   */
