.header,.header ul li a,body,html {
	position:relative
} 
.popUl li,.ui-select-layer,.wordInput {
	white-space:nowrap
}
.industry-select:focus,.result-box .filt select:focus,.search-box .sec-input,.select-input select:focus {
	outline:0
}
.industry_val_des,.popUl li,.result-box .info .i-table td,.wordInput {
	overflow:hidden;
	text-overflow:ellipsis
}
body,html {
	height:100%;
	min-width:1200px;
	font-size:14px;
	background:#f0f1f2
}
.header {
	line-height:24px;
	padding:11px 0;
	height:24px;
	width:100%;
	min-width:1000px;
	z-index:999;
	background:#fff
}
.header ul li {
	float:left;
	margin-left:20px
}
.header ul li a {
	color:#333;
	display:block;
	cursor:pointer;
	font-size:13px
}
.header ul li a:hover,.header ul li.cur span {
	color:#fc7e17;
	text-decoration:none
}
.header ul li a span {
	background:url(../../img/common/nav-new.gif) no-repeat;
	width:13px;
	height:15px;
	position:absolute;
	background-image:-webkit-image-set(url(../../img/common/nav-new.gif) 1x);
	background-image:-moz-image-set(url(../../img/common/nav-new.gif) 1x);
	left:25px;
	top:-7px;
	border:0!important
}
.header ul .show-more {
	position:relative
}
.header ul .show-more .m-arr {
	padding-right:10px;
	position:relative
}
.header ul .show-more .m-arr i {
	width:0;
	height:0;
	border-left:4px dashed transparent;
	border-top:4px solid #666;
	border-right:4px dashed transparent;
	display:inline-block;
	position:absolute;
	right:0;
	top:10px;
	vertical-align:top;
	font-size:0;
	line-height:0
}
.header ul .show-more .m-arr:hover i {
	border-top:4px solid #ff5a34
}
.header ul .show-more .pos-more {
	display:none;
	width:60px;
	top:30px;
	left:-18px;
	position:absolute;
	border:1px solid #eee;
	border-radius:3px;
	box-shadow:0 1px 6px rgba(0,0,0,.15);
	text-align:center;
	line-height:28px;
	background:#fff
}
.header ul .show-more .pos-more a {
	background:0 0;
	padding:0;
	line-height:29px;
	float:left;
	width:100%
}
.header ul .show-more .pos-more a:hover {
	background:#fd6853;
	color:#fff
}
.header ul .show-more .pos-more .ico-san {
	width:10px;
	height:5px;
	position:absolute;
	top:-5px;
	left:26px;
	background:url(../../img/common/icons.png) 0 -59px no-repeat
}
.header .user {
	position:absolute;
	right:20px;
	top:10px
}
.header .user a {
	color:#666;
	text-decoration:none
}
.header .user a:hover {
	color:#fc7e17
}
.header .user .tx {
	display:inline-block;
	margin-right:8px;
	position:relative;
	vertical-align:top;
	margin-bottom:-2px
}
.header .user .tx img {
	border:2px solid #fff;
	border-radius:14px;
	margin:-2px 0 0 -2px;
	position:relative;
	z-index:1
}
.lab-top {
	background:#41465b;
	position:relative;
	height:72px;
	z-index:2
}
.lab-top .lab-header {
	position:absolute;
	top:0;
	left:0;
	height:72px;
	width:100%
}
.lab-top .lab-header .lab-nav {
	width:1300px;
	margin:0 auto;
	height:100%
}
.lab-top .lab-header .lab-nav .logo {
	width:150px;
	height:38px;
	float:left;
	background:url(../../img/common/logo.png) no-repeat;
	margin:17px 20px 0 0
}
.lab-top .lab-header .lab-nav .logo span {
	display:none
}
.lab-top .lab-header .lab-nav .s-box {
	float:left;
	margin-top:20px;
	height:36px;
	width:350px;
	position:relative;
	border-radius:2px;
	background:#fff;
	padding:0 35px 0 10px
}
.lab-top .lab-header .lab-nav .s-box .sinp input {
	width:100%;
	height:36px;
	line-height:36px;
	border:none
}
.lab-top .lab-header .lab-nav .s-box .se-btn {
	position:absolute;
	right:10px;
	top:10px;
	width:18px;
	height:18px;
	background:url(../../img/common/icons.png) 0 -82px no-repeat;
	display:inline-block
}
.main-box {
	width:1300px;
	margin:0 auto;
	position:relative;
	padding-top:0
}
.main-box .industry-left-menu,.main-box .left-menu {
	float:left;
	width:150px;
	padding-bottom:255px;
	background:url(../../img/common/left_bg.gif) 0 100% repeat-x #fff;
	border-left:1px solid #eceeef;
	border-right:1px solid #eceeef;
	margin-right:20px
}
.main-box .left-menu .menu-list {
	overflow:hidden
}
.main-box .left-menu .menu-list li a {
	display:block;
	height:56px;
	line-height:56px;
	padding:0 0 0 35px;
	font-size:15px;
	color:#666;
	text-decoration:none;
	border-bottom:1px solid #f3f3f3
}
.main-box .left-menu .menu-list li a:hover {
	background:#fafafa;
}
.main-box .left-menu .menu-list .cur a {
	position:relative;
	color:#fc7e17
}
.main-box .left-menu .menu-list .cur a i {
	margin-left:25px;
	width:7px;
	height:12px;
	/*background:url(../../img/common/icons.png) no-repeat;*/
	display:inline-block;
	position:relative;
	top:2px
}
.main-box .left-menu .menu-list .more a i {
	width:12px;
	height:7px;
	background:url(../../img/common/icons.png) 0 -28px no-repeat;
	display:inline-block;
	margin-left:8px
}
.main-box .left-menu .menu-list .more .open i {
	background-position:0 -28px
}
.main-box .left-menu .menu-list .act .open i {
	background-position:0 -40px
}
.main-box .left-menu .menu-list .more .m-list {
	background:#fafafa;
	padding:10px 0;
	display:none
}
.main-box .left-menu .menu-list .more .m-list li a {
	padding-left:51px;
	border-bottom:none;
	height:40px;
	line-height:40px
}
.main-box .left-menu .menu-list .more .m-list li a:hover {
	color:#fc7e17
}
.main-box .left-menu .menu-list .more .m-list .on a {
	position:relative;
	color:#fc7e17
}
.main-box .left-menu .menu-list .more .m-list a i {
	display:none
}
.main-box .left-menu .menu-list .more .m-list .on a i {
	width:0;
	height:0;
	position:absolute;
	left:35px;
	top:14px;
	margin:0;
	border-left:5px solid #fc7e17;
	border-top:5px dashed transparent;
	border-bottom:5px dashed transparent;
	display:block
}
.result-box {
	overflow:hidden;
	position:relative
}
.result-box .filt {
	background:#fff;
	box-shadow:0 0 5px #d1d5da;
	padding:20px 25px 0;
	position:relative;
	border-radius:0 0 3px 3px
}
.result-box .filt select {
	padding:10px 0;
	border:1px solid #eee;
	border-radius:3px;
	background:url(../../img/common/arrow.png) 105px 11px no-repeat #f7f7f7;
	height:38px;
	width:128px;
	color:#333;
	text-indent:10px;
	margin-right:17px;
	appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	font-size:13px
}
.result-box .filt .add,.result-box .filt .subbtn,.result-box .filt .tag {
	border:1px solid #eee;
	height:36px;
	line-height:36px;
	background:#f7f7f7;
	border-radius:3px;
	font-size:13px;
	display:inline-block;
	margin:0 20px 20px 0;
	padding:0 15px;
	position:relative;
	text-decoration:none
}
.result-box .filt .tag .i1,.result-box .filt .tag .i2,.result-box .filt .tag .i3,.result-box .filt .tag .i4,.result-box .filt .tag .i5 {
	width:8px;
	height:8px;
	margin-right:10px;
	display:inline-block
}
.result-box .filt .add i,.result-box .filt .subbtn i,.result-box .filt .tag i {
	width:8px;
	height:8px;
	background:url(../../img/common/icons.png) 0 -142px no-repeat;
	display:inline-block;
	margin-right:10px
}
.result-box .filt .add .arr2,.result-box .filt .subbtn .arr2,.result-box .filt .tag .arr2 {
	background-position:-11px -142px
}
.result-box .filt .add .arr3,.result-box .filt .subbtn .arr3,.result-box .filt .tag .arr3 {
	background-position:-22px -142px
}
.result-box .filt .add .tag-x,.result-box .filt .subbtn .tag-x,.result-box .filt .tag .tag-x {
	width:8px;
	height:8px;
	background:url(../../img/common/icons.png) 0 -192px no-repeat;
	display:inline-block;
	margin-left:10px
}
.result-box .filt .tag .i1 {
	background:#ff8b39;
	border-radius:50%
}
.result-box .filt .tag .i2 {
	background:#529fff;
	border-radius:50%
}
.result-box .filt .tag .i3 {
	background:#6eccad;
	border-radius:50%
}
.result-box .filt .tag .i4 {
	background:#ff8498;
	border-radius:50%
}
.result-box .filt .tag .i5 {
	background:#a1a1ff;
	border-radius:50%
}
.result-box .filt .add {
	color:#666;
	font-size:13px
}
.result-box .filt .add i {
	width:10px;
	height:10px;
	background-position:0 -168px
}
.result-box .filt .subbtn {
	background:#ff8b39;
	color:#fff;
	width:70px;
	text-align:center
}
.result-box .filt .subbtn:hover {
	background-color:#f38131
}
.result-box .i-tit {
	clear:both;
	height:25px;
	line-height:25px
}
.result-box .i-tit .i-help,.result-box .i-tit .i-time,.result-box .i-tit h3 {
	float:left
}
.result-box .i-tit h3 {
	font-size:16px
}
.result-box .i-tit .i-help {
	position:relative;
	top:1px
}
.result-box .i-tit .i-help .ih-ico {
	width:16px;
	height:16px;
	background:url(../../img/common/icons.png) 0 -262px no-repeat;
	display:inline-block;
	margin-left:8px;
	vertical-align:text-top
}
.result-box .i-tit .i-help .ih-ico:hover {
	background-position:0 -280px
}
.result-box .i-tit .i-help .ih-con {
	position:absolute;
	left:-5px;
	top:30px;
	width:264px;
	height:95px;
	border:1px solid #e3e4e6;
	background:#fff;
	display:none;
	z-index:9
}
.result-box .detail,.result-box .info {
	border-radius:3px;
	box-shadow:0 0 5px #d1d5da
}
.result-box .i-tit .i-help .ih-con i {
	width:8px;
	height:5px;
	position:absolute;
	top:-5px;
	left:15px;
	background:url(../../img/common/icons.png) 0 -59px no-repeat;
	display:inline-block
}
.result-box .i-tit .i-help .ih-con p {
	padding:15px
}
.result-box .i-tit .i-time {
	margin-left:20px;
	color:#999;
	font-size:13px;
	line-height:30px
}
.result-box .info {
	background:#fff;
	margin-top:20px;
	padding:25px 25px 10px
}
.result-box .info .i-table {
	overflow:hidden;
	width:100%;
	margin-top:10px;
	table-layout:fixed
}
.result-box .info .i-table th {
	padding:15px 0;
	font-weight:400;
	text-align:left;
	color:#999
}
.result-box .info .i-table td {
	border-top:1px solid #f1f1f1;
	height:44px;
	line-height:44px;
	text-align:left;
	position:relative;
	white-space:nowrap
}
.result-box .info .i-table td i {
	width:8px;
	height:12px;
	background:url(../../img/common/icons.png) no-repeat;
	display:inline-block;
	vertical-align:-2px
}
.result-box .info .i-table td .up {
	background-position:-22px -210px
}
.result-box .info .i-table td .down {
	background-position:-22px -243px
}
.result-box .info .i-table .tx-l {
	text-align:left
}
.result-box .c-blue {
	color:#4293f7!important
}
.result-box .detail {
	padding-bottom:10px;
	background:#fff;
	margin-top:20px
}
.result-box .detail .d-svg {
	min-height:390px;
	position:relative
}
.result-box .d-svg {
	margin-top:20px
}
.result-box .d-txt {
	margin-top:10px
}
.result-box .d-txt .dt-list li,.result-box .d-txt .txt-tab {
	margin-top:15px
}
.result-box .d-txt h4 {
	font-size:16px
}
.result-box .d-txt .txt-tab a {
	display:inline-block;
	border:1px solid #ddd;
	color:#666;
	height:24px;
	line-height:24px;
	text-decoration:none;
	padding:0 15px;
	margin-right:-1px;
	position:relative
}
.result-box .d-txt .txt-tab .t-a1 {
	border-color:#ffd3af;
	color:#fc7e17;
	background:#fffaf6;
	z-index:1
}
.result-box .d-txt .txt-tab .t-a2 {
	border-color:#afd3ff;
	color:#4293f7;
	background:#fafcff
}
.result-box .d-txt .txt-tab .t-a3 {
	border-color:#b1e6d4;
	color:#4bbc97;
	background:#f7fffd;
	z-index:1
}
.result-box .d-txt .txt-tab .t-a4 {
	border-color:#ffbac5;
	color:#f95570;
	background:#fff8f9;
	z-index:1
}
.result-box .d-txt .txt-tab .t-a5 {
	border-color:#dadbff;
	color:#7373e6;
	background:#f7f9ff;
	z-index:1
}
.result-box .d-txt .dt-list {
	padding-top:3px;
	display:none
}
.result-box .d-txt .block {
	display:block
}
.result-box .d-txt .dt-list li span {
	color:#999;
	margin-left:10px
}
.result-box .d-txt .dt-list li span i {
	color:#eee
}
.result-box .d-txt .dt-list li a {
	color:#333;
	line-height:18px;
	cursor:pointer
}
.result-box .d-txt .dt-list li a span {
	width:18px;
	height:18px;
	display:inline-block;
	text-align:center;
	margin:0 5px 0 0
}
.result-box .d-txt .dt-list li a .t-ac1 {
	color:#fc7e17
}
.result-box .d-txt .dt-list li a .t-ac2 {
	color:#4293f7
}
.result-box .d-txt .dt-list li a .t-ac3 {
	color:#4bbc97
}
.result-box .d-txt .dt-list li a .t-ac4 {
	color:#f95570
}
.result-box .d-txt .dt-list li a .t-ac5 {
	color:#7373e6
}
.result-box .d-txt .dt-list li a:hover span {
	color:#fff
}
.result-box .d-txt .dt-list li a:hover .t-ac1 {
	background:#ff6949
}
.result-box .d-txt .dt-list li a:hover .t-ac2 {
	background:#529fff
}
.result-box .d-txt .dt-list li a:hover .t-ac3 {
	background:#f7fffd
}
.result-box .d-txt .dt-list li a:hover .t-ac4 {
	background:#fff8f9
}
.result-box .d-txt .dt-list li a:hover .t-ac5 {
	background:#f7f9ff
}
.result-box .noresult {
	background:#fff;
	min-height:500px;
	padding:50px 45px
}
.result-box .noresult .nr-pic {
	width:95px;
	height:95px;
	float:left;
	margin-right:40px
}
.result-box .noresult .nr-pic img {
	width:100%;
	vertical-align:top
}
.result-box .noresult .nr-con {
	overflow:hidden;
	font-size:16px
}
.result-box .noresult .nr-con p span {
	color:#fc7e17
}
.result-box .noresult .nr-con dl {
	margin-top:23px
}
.result-box .noresult .nr-con dl dd {
	margin-top:12px
}
.result-box .guide {
	background:#fff;
	overflow:hidden;
	padding:0 25px 30px;
	margin-top:-25px
}
.result-box .guide h3 {
	margin-top:50px;
	font-size:20px;
	font-weight:700
}
.result-box .guide h4 {
	margin-top:20px;
	font-size:16px
}
.result-box .guide p {
	font-size:14px;
	line-height:27px;
	margin:7px 0 -7px;
	padding-left:20px
}
#index .footer p,.footer a {
	color:#a4a4a4;
	font-size:13px
}
.footer {
	width:1300px;
	margin:50px auto 0;
	text-align:center;
	color:#a4a4a4;
	padding-bottom:40px
}
.mw-v2 .lab-top .lab-header .lab-nav,.mw-v2 .main-box {
	width:1000px
}
.mw-v2 .main-box .left-menu {
	width:130px
}
.content {
	position:absolute;
	left:50%;
	margin-left:-312px;
	top:40%
}
.content .logo {
	position:relative
}
.content .logo span {
	position:absolute;
	left:50%;
	margin-left:-133px;
	bottom:40px;
	-webkit-transition:opacity;
	transition:opacity;
	opacity:1;
	width:266px;
	height:66px;
	background:url(../../img/common/h_logo.png) no-repeat;
	background-image:-webkit-image-set(url(../../img/common/h_logo_2x.png) 2x,url(../../img/common/h_logo.png) 1x);
	background-image:-moz-image-set(url(../../img/common/h_logo_2x.png) 2x,url(../../img/common/h_logo.png) 1x)
}
#index .footer {
	position:absolute;
	width:100%;
	text-align:center;
	z-index:999
}
#index .footer p {
	margin-bottom:10px
}
.search-box {
	width:624px;
	position:relative
}
.search-box .sec-input-box {
	display:block
}
.search-box .sec-input {
	padding:10px;
	width:529px;
	height:22px;
	line-height:22px;
	border:1px solid #ddd;
	border:1px solid #ddd\9;
	font-size:16px;
	color:#333;
	border-right:0;
	vertical-align:top;
	box-shadow:none;
	z-index:3;
	-webkit-appearance:none;
	position:relative;
	border-radius:2px 0 0 2px
}
.pop,.popUl li a {
	color:#fff
}
.search-box .sec-input-box .sec-input:hover {
	border:1px solid rgba(0,0,0,.4);
	border:1px solid #999\9;
	border-right:0
}
.search-box .sec-input-box .sec-input:active {
	border:1px solid #5c307d;
	border-right:0
}
.search-box .enter-input {
	position:absolute;
	right:0;
	top:0;
	z-index:3
}
#columnPart,#linePart {
	z-index:999;
	position:absolute
}
.search-box .enter-input input {
	width:74px;
	height:44px;
	border:0;
	outline:0;
	box-shadow:none;
	vertical-align:top;
	cursor:pointer;
	line-height:44px;
	text-align:center;
	font-size:33px;
	color:#fff;
	background:url(../../img/common/search_ico.png) 22px 8px no-repeat #ff8b39;
	background-image:-webkit-image-set(url(../../img/common/search_ico2x.png) 2x,url(../../img/common/search_ico.png) 1x);
	background-image:-moz-image-set(url(../../img/common/search_ico2x.png) 2x,url(../../img/common/search_ico.png) 1x);
	-webkittransition:all .25s;
	-webkit-transition:all .25s;
	transition:all .25s;
	border-radius:0 2px 2px 0
}
.dateP,.popUl,.wordInput {
	font-size:13px
}
.addTag,.fitTag,.select_wrapper {
	float:left
}
.wordInput {
	border:none;
	background-color:#f7f7f7;
	width:63px;
	height:30px;
	line-height:30px;
	text-align:left
}
.result-box .info .i-table .space {
	width:0
}
.pop {
	background-color:#000;
	width:200px;
	min-height:50px;
	position:absolute;
	border-radius:3px;
	padding:10px;
	opacity:.7;
	display:none
}
.cxxqbtn,.header_industry {
	filter:alpha(opacity=90);
	-khtml-opacity:.9
}
.dateP {
	height:20px;
	margin-bottom:6px
}
.popUl {
	list-style-type:square;
	list-style-position:inside
}
.popUl li {
	min-height:15px;
	line-height:1.5rem;
	font-size:12px
}
.cancle {
	position:absolute;
	right:10px;
	top:10px;
	cursor:pointer
}
#linePart {
	height:350px;
	width:100%
}
#columnPart {
	height:360px;
	width:0;
	right:0
}
.clearfix {
	zoom:1;
	clear:both
}
.everage {
	position:absolute;
	right:75px;
	top:10px;
	font-size:13px;
	color:#999;
	z-index:99999
}
.result-box .d-txt .txt-tab .txtAct1 {
	background:#fc7e17;
	color:#fff
}
.result-box .d-txt .txt-tab .txtAct2 {
	background:#4293f7;
	color:#fff
}
.result-box .d-txt .txt-tab .txtAct3 {
	background:#4bbc97;
	color:#fff
}
.result-box .d-txt .txt-tab .txtAct4 {
	background:#f95570;
	color:#fff
}
.result-box .d-txt .txt-tab .txtAct5 {
	background:#7373e6;
	color:#fff
}
.result-box .info .i-table td.alignRight,.result-box .info .i-table th.alignRight {
	text-align:right
}
.cxxqbtn,.header_cont ul>li,.industry-contentwrapper,.mxsf,.pmspan,.result-box .info .i-table td.alignCenter,.result-box .info .i-table th.alignCenter {
	text-align:center
}
.result-box .info .i-table th.space {
	width:110px
}
.result-box .info .i-table th.space-30 {
	width:30px
}
.selectIcon {
	position:absolute;
	left:130px;
	top:33px;
	z-index:1
}
.timePeriodType {
	z-index:999
}
select::-ms-expand {
	display:none
}
.type_wrapper {
	margin-top:25px;
	margin-left:25px
}
.typeItem {
	float:left;
	margin-left:20px;
	padding-right:20px;
	border-right:1px #eee solid;
	cursor:pointer;
	position:relative;
	text-indent:25px;
	height:20px;
	line-height:20px
}
.indusinput,.listItem-list a {
	text-indent:20px
}
.typeIconALL {
	background:url(../../img/common/icon_all.png) left center no-repeat
}
.typeIconPc {
	background:url(../../img/common/icon_pc.png) left center no-repeat
}
.typeIconWap {
	background:url(../../img/common/icon_wap.png) left center no-repeat
}
.typeFont {
	float:left;
	font-size:14px;
	color:#333
}
.typeAct .typeFont {
	color:#fc7e17;
	font-size:14px
}
.typeAct .typeIconALL {
	background:url(../../img/common/icon_all_act.png) left center no-repeat
}
.typeAct .typeIconPc {
	background:url(../../img/common/icon_pc_act.png) left center no-repeat
}
.typeAct .typeIconWap {
	background:url(../../img/common/icon_wap_act.png) left center no-repeat
}
.typeIcon {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%
}
.tabItemWrapper {
	float:left;
	height:100%;
	margin-left:40px
	background-color:green;
}

.tabItemWrapper .tabItem {
	cursor:pointer;
	height:72px;
	width:140px;
	line-height:72px;
	text-align:center;
	float:left;
	font-size:15px;
	color:#b1b2b9
}
.tabItemWrapper .tabItemAct {
	background:#35394c;
	color:#fff
}
.tabItem a {
	color:#b1b2b9;
	text-decoration:none;
	display:block
}
.tabItemAct a {
	color:#fff
}
.industry-left-menu li.listItem {
	min-height:54px;
	line-height:54px
}
.industry-left-menu li.listItem a {
	text-decoration:none;
	color:#6370a5;
	position:relative;
	display:block;
	padding:0 20px
}
.listItem a.aWra i {
	display:block;
	width:12px;
	height:54px;
	background:url(../../img/industry/xjt.png) center no-repeat;
	position:absolute;
	right:20px;
	top:0
}
.listItem .listItem-list {
	padding:0;
	background:#fafafa
}
.industry-left-menu li.listItemAct a.aWra {
	color:#fff
}
.industry-left-menu li.listItemAct a.aWra i {
	background:url(../../img/industry/sjt.png) center no-repeat
}
.listItem-list a i {
	width:11px;
	height:54px;
	position:absolute;
	left:20px;
	top:0
}
.listItem-list a i:after {
	content:'';
	position:absolute;
	top:23px;
	right:0;
	border:4px solid transparent;
	border-left:4px solid #c4c4c4
}
.listItem-list a.acta i:after {
	border-left:4px solid #fc7e17
}
.industry-left-menu li.listItem a.acta {
	color:#fc7e17
}
.industry-content {
	min-height:500px;
	background:#1b2449;
	padding-left:40px;
	padding-right:40px
}
.select-content {
	padding:40px 0;
	border-bottom:1px #242e55 solid
}
.industry-name {
	font-size:24px;
	color:#fff;
	float:left;
	line-height:42px
}
.select-input {
	float:right;
	position:relative
}
.industry-select {
	margin-left:20px;
	padding:10px 0;
	border:1px solid #ddd;
	border-radius:2px;
	background:url(../../img/common/arrow.png) 105px 13px no-repeat;
	height:40px;
	width:138px;
	color:#333;
	text-indent:10px;
	margin-right:17px;
	appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none
}
.industry-head {
	padding:20px 0
}
.industry-head .industry-head-item {
	font-size:14px;
	color:#a2a4ae;
	float:left;
	width:50%
}
.industry-table-content .industry-content-item {
	color:#fff;
	min-height:90px;
	float:left;
	font-size:16px;
	width:50%;
	margin-bottom:40px
}
.industry-table-content .industry-content-item a {
	font-size:15px;
	color:#fff;
	text-decoration:none;
	display:block;
	float:left;
	line-height:normal
}
.descriptpm,.infotips,.pmspan {
	font-size:13px
}
.pmname {
	margin-bottom:15px
}
.descriptpm {
	width:80%;
	color:#99abf0;
	line-height:1.7rem
}
.industry-table-content {
	padding-bottom:30px
}
.pmspan {
	display:block;
	width:20px;
	height:20px;
	background:#2d76ff;
	line-height:22px;
	float:left;
	margin-right:10px
}
.jdInner,.jdwra {
	height:4px;
	border-radius:15px
}
.pmspan1 {
	background:#ff6a18;
	color:#fff
}
.pmspan2 {
	background:#ff9850;
	color:#fff
}
.pmspan3 {
	background:#ffbd8e;
	color:#fff
}
.pvnum {
	float:left;
	padding-top:35px;
	line-height:normal;
	margin-right:30px
}
.jdwra {
	background:#374167;
	position:relative;
	margin-top:41px;
	width:300px;
	float:left
}
.jdInner {
	position:absolute;
	left:0;
	top:0;
	background:#2d76ff
}
.mq-list li,.ui-select-item {
	height:32px
}
.jdInner1 {
	background:#f22
}
.jdInner2 {
	background:#fb7614
}
.jdInner3 {
	background:#edad00
}
.mq-list li,.ui-select-layer {
	line-height:32px;
	background:#fff
}
.infotips {
	padding:20px 0 25px;
	color:#999
}
.infotips p {
	margin-bottom:14px
}
.ui-select {
	position:relative
}
.ui-select-layer {
	position:absolute;
	display:none;
	top:41px;
	left:0;
	border:1px solid #ddd;
	z-index:299;
	width:99px;
	border-radius:3px
}
.ui-select-layer .more {
	position:relative
}
.ui-select-layer a {
	color:#444;
	text-decoration:none;
	float:left
}
.ui-select-item,.ui-select-value {
	display:inline-block;
	padding:0 30px 0 24px;
	cursor:pointer
}
.mw1300 a,a.c48e {
	color:#4284e2;
	text-decoration:none
}
.mq-list {
	position:absolute;
	top:-1px;
	left:99px;
	width:100px;
	border:1px solid #ddd;
	color:#444;
	border-radius:3px;
	z-index:300;
	display:none
}
.mq-list li {
	float:none;
	margin:0;
	padding-left:12px;
	border-radius:0;
	cursor:pointer
}
.mq-list li:hover,.ui-select-item:hover {
	background:#f1f1f1
}
.ui-select-layer .more:after {
	content:'';
	position:absolute;
	top:12px;
	right:8px;
	border:4px solid transparent;
	border-left:4px solid #444
}
.ui-select-value {
	width:80px;
	height:40px;
	border:1px solid #ddd;
	border-radius:3px;
	line-height:40px
}
.select-input:after,.ui-select:after {
	border:4px solid transparent;
	content:''
}
.ui-select:after {
	position:absolute;
	top:20px;
	right:12px;
	border-top:4px solid #444
}
.select-input select {
	padding:10px 0;
	border:1px solid #ddd;
	border-radius:2px;
	background:0 0;
	height:40px;
	width:138px;
	color:#333;
	text-indent:10px;
	margin-right:17px;
	appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	position:relative;
	z-index:111
}
.select-input:after {
	position:absolute;
	top:18px;
	right:25px;
	border-top:6px solid #444
}
#industry_layout .select-input:after {
	content:'';
	position:absolute;
	top:18px;
	right:15px;
	border:4px solid transparent;
	border-top:6px solid #fff;
	z-index:999
}
.header_industry,.imglogo,.industry_index,.mxpng {
	position:relative
}
#industry_layout {
	background-color:#0e173a;
	height:auto
}
.header_industry {
	height:70px;
	background-color:#2b5dfc;
	opacity:.9;
	-moz-opacity:.9;
	z-index:1
}
.header_cont {
	width:1300px;
	height:70px;
	margin:0 auto
}
.header_cont ul>li {
	width:12.5%;
	height:70px;
	line-height:70px;
	float:left;
	font-size:18px;
	color:#abbafe;
	cursor:pointer
}
.header_cont ul li.acttt {
	background-color:#1e4de3;
	color:#fff
}
.select-input .industrySelect {
	width:130px;
	height:40px;
	margin-right:0;
	margin-left:15px;
	background-color:#161f41;
	border:none;
	color:#fff
}
.select-input .industrySelectact {
	background-color:#2b5dfc
}
.main-box .industry-left-menu {
	background:#1b2449;
	padding-bottom:0;
	border-left:1px #1b2449 solid;
	border-right:1px #1b2449 solid
}
.mxjj {
	width:940px;
	height:140px;
	background:url(../../img/industry/mxt.png) center no-repeat;
	background-size:cover;
	padding:46px 30px 18px;
	color:#c7ceeb;
	font-size:14px;
	line-height:2em
}
.mxsf {
	width:1000px;
	height:843px;
	margin-top:80px;
	background:url(../../img/industry/mxsf.png) center no-repeat;
	background-size:cover
}
.mxpng {
	top:12%;
	width:807px;
	height:678px
}
.banner {
	width:100%;
	min-height:1000px;
	background:url(../../img/industry/banner.png) center top no-repeat #0e173a
}
.industry-contentwrapper {
	width:1000px;
	min-height:600px;
	margin:0 auto;
	padding-top:340px
}
.cxxqbtn {
	width:160px;
	height:40px;
	border-radius:2px;
	line-height:40px;
	font-size:16px;
	color:#fff;
	background-color:#396cff;
	opacity:.9;
	-moz-opacity:.9;
	margin:0 auto
}
.industry-inner-content {
	width:1000px;
	min-height:500px;
	margin:40px auto 0
}
.industry_item {
	width:27.8%;
	background-color:#1b2449;
	min-height:500px;
	float:left;
	padding:1.6% 1.6% 0;
	margin-bottom:40px
}
.industry_item_left {
	margin-right:3.5%
}
.industry_border1 {
	border-top:4px #f64b2f solid
}
.industry_border2 {
	border-top:4px #fb7a2c solid
}
.industry_border3 {
	border-top:4px #f2cd00 solid
}
.industry_border4 {
	border-top:4px #686fff solid
}
.industry_border5 {
	border-top:4px #a670ff solid
}
.industry_border6 {
	border-top:4px #ef7e8e solid
}
.industry_border7 {
	border-top:4px #2d76ff solid
}
.industry_border8 {
	border-top:4px #3cccf6 solid
}
.industry_border9 {
	border-top:4px #4ddeb7 solid
}
.industry-title {
	margin-bottom:30px;
	font-size:24px;
	text-align:left
}
.inmore {
	font-size:14px;
	color:#fff;
	float:right;
	margin-top:5px
}
.industry_border1 .industry-title {
	color:#ff7e56
}
.industry_border2 .industry-title {
	color:#ffb243
}
.industry_border3 .industry-title {
	color:#ffdd24
}
.industry_border4 .industry-title {
	color:#8d92ff
}
.industry_border5 .industry-title {
	color:#c19bff
}
.industry_border6 .industry-title {
	color:#ff93a2
}
.industry_border7 .industry-title {
	color:#679dff
}
.industry_border8 .industry-title {
	color:#3cccf6
}
.industry_border9 .industry-title {
	color:#5bf3ca
}
.industry_border1 .industry_index_diff {
	background-color:#ff7e56
}
.industry_border2 .industry_index_diff {
	background-color:#ffb243
}
.industry_border3 .industry_index_diff {
	background-color:#ffdd24
}
.industry_border4 .industry_index_diff {
	background-color:#8d92ff
}
.industry_border5 .industry_index_diff {
	background-color:#c19bff
}
.industry_border6 .industry_index_diff {
	background-color:#ff93a2
}
.industry_border7 .industry_index_diff {
	background-color:#679dff
}
.industry_border8 .industry_index_diff {
	background-color:#3cccf6
}
.industry_border9 .industry_index_diff {
	background-color:#5bf3ca
}
.industry_in_item {
	margin-bottom:25px;
	line-height:20px
}
.industry_index {
	float:left;
	width:20px;
	height:20px;
	text-align:center;
	line-height:20px;
	color:#fff;
	background-color:#414e80;
	margin-right:10px;
	font-size:12px
}
.industry_index_diff {
	height:24px
}
.industry_na {
	float:left;
	color:#fff;
	font-size:14px
}
.industry_val {
	float:right;
	color:#fff;
	font-size:14px
}
.imglogo {
	float:left;
	margin-right:15px
}
.imglogo .industry_index {
	position:absolute;
	left:0;
	top:0
}
.imglogo .industry_index_diff:after,.industry_index_diff:after {
	position:absolute;
	left:0;
	top:10px;
	content:''
}
.industry_index_diff:after {
	border:10px solid transparent;
	border-bottom:4px #1b2449 solid
}
.imglogo .industry_index_diff:after {
	border:10px solid transparent;
	border-bottom:4px #fff solid
}
.industry_na_fir {
	text-align:left;
	height:26px;
	line-height:20px;
	font-size:16px;
	color:#fff
}
.industry_val_fir {
	text-align:left;
	height:22px;
	line-height:21px;
	color:#fff;
	font-size:13px
}
.industry_val_des {
	text-align:left;
	height:40px;
	font-size:13px;
	color:#99abf0;
	line-height:1.7em;
	margin-top:5px
}
.indlogo {
	width:93px;
	height:93px;
	background-color:#fff
}
.indlogo img {
	width:100%;
	height:100%
}
.industry_searchwrapper {
	width:100%;
	height:50px;
	background:#fff;
	position:fixed;
	top:0;
	z-index:999999
}
.industry_search_content {
	width:1000px;
	margin:0 auto;
	height:50px;
	background:url(../../img/industry/logo.png) left center no-repeat;
	position:relative
}
.indusinput {
	width:460px;
	height:26px;
	border-radius:3px;
	background-color:#ececef;
	margin:12px 0 0 120px;
	border:none;
	line-height:26px
}
.defaultValue,.optionItem {
	line-height:36px;
	text-indent:20px
}
.whi {
	position:absolute;
	right:10px;
	top:16px;
	width:18px;
	height:18px;
	background:url(../../img/common/icons.png) 0 -82px no-repeat;
	display:inline-block
}
.inpwra {
	position:relative;
	width:580px
}
.logoa {
	display:block;
	height:24px;
	width:101px;
	position:absolute;
	left:0;
	top:13px;
	z-index:999
}
.selectOption,.userDefined {
	left:0;
	display:none;
	position:absolute
}
.imglogotb .industry_index_diff:after {
	border-bottom:4px #ff5000 solid
}
.userDefined {
	border:1px solid #c1c1c1;
	width:171px;
	height:90px;
	background-color:#fff;
	top:38px;
	z-index:9999;
	padding:15px
}
.defaultValue,.optionItem,.selectDate {
	width:140px;
	height:36px
}
.selectDate {
	border:1px solid #eee;
	border-radius:3px;
	background-color:#f7f7f7;
	cursor:pointer;
	margin:0 20px 20px 0
}
.selectDate:after {
	content:'';
	position:absolute;
	top:16px;
	right:32px;
	border:4px solid transparent;
	border-top:6px solid #444
}
.mongthspan:after,.yearspan:after {
	content:'';
	right:5px
}
.selectOption {
	width:140px;
	background:#fff;
	border:1px solid #eee;
	top:36px;
	z-index:999999
}
.select_wrapper,.startDate,.yearspan {
	position:relative
}
.optionItem {
	font-size:14px
}
.optionItem:hover {
	background-color:#f7f7f7
}
.block {
	display:block
}
.defaultValue {
	cursor:pointer;
	font-size:13px
}
.yearSeLect,.yearspan {
	border:1px solid #cacfd4;
	width:68px
}
.startDate span {
	display:block;
	float:left;
	margin-right:5px;
	font-size:12px;
	color:#444;
	height:20px;
	line-height:20px;
	cursor:pointer
}
.monthSeLect li.disabled {
	color:#ccc;
	background:#f5f5f5;
	cursor:no-drop;
	pointer-events:none
}
.yearspan {
	height:18px;
	text-align:left;
	text-indent:10px;
	line-height:18px
}
.monthSeLect li,.yearSeLect li {
	height:20px;
	text-align:center;
	font-size:12px;
	line-height:20px;
	cursor:pointer
}
.yearspan:after {
	position:absolute;
	top:7px;
	border:4px solid transparent;
	border-top:6px solid #444
}
.monthSeLect,.yearSeLect {
	background-color:#fff;
	position:absolute;
	top:21px;
	z-index:99
}
.yearSeLect {
	left:41px
}
.mongthspan,.monthSeLect {
	border:1px solid #cacfd4;
	width:48px
}
.monthSeLect {
	left:116px
}
.monthSeLect li:hover,.yearSeLect li:hover {
	background-color:silver
}
.mongthspan {
	height:18px;
	text-align:left;
	text-indent:10px;
	line-height:18px;
	position:relative
}
.mongthspan:after {
	position:absolute;
	top:7px;
	border:4px solid transparent;
	border-top:6px solid #444
}
.buttonWRa {
	height:30px;
	width:100%;
	position:relative
}
.cancleButton,.subButton {
	height:20px;
	width:50px;
	text-align:center;
	border:1px solid #d3d3d3;
	color:#6a6a6a;
	cursor:pointer;
	font-size:12px;
	float:left;
	line-height:20px;
	background-color:silver
}
.subButton {
	margin-left:41px
}
.cancleButton {
	margin-left:23px
}
#linePart2,.baiban {
	width:100%;
	position:absolute
}
.monthSeLect,.yearSeLect {
	display:none
}
#linePart2 {
	height:380px;
	z-index:0
}
.baiban {
	background-color:#fff;
	height:350px;
	z-index:99
}
@media screen and (min-width:1301px) {
	.main-box {
	width:1300px
}
}@media screen and (max-width:1301px) {
	.header_cont,.lab-top .lab-header .lab-nav,.main-box {
	width:1000px
}
}